.sidebar_mar {
  padding: 30px 30px 30px 290px;

  .header {
    .user-info {
      @include display(flex-end, center);
      gap: 10px;
      margin-bottom: 15px;

      span {
        font-size: 15px;
        letter-spacing: 0.3px;
      }
    }

    h2 {
      margin-bottom: 20px;
    }

    .margin_top {
      margin-top: 20px;
    }
  }

  .sidebar_det {
    background-color: $page_bg;
    @include display(space-between, center);
    padding: 20px 25px;
    border-radius: 8px;
    margin-bottom: 20px;

    .active_button {
      background-color: $page_bg;
      padding: 8px 18px;
      border: 1px solid $black;
      border-radius: 15px;
    }

    .project-select {
      padding: 6px;
      width: 200px;
      border: 1px solid $forgot;
      border-radius: 4px;
      outline: none;
      font-size: 14px;
    }
  }

  .scroll_content {
    overflow-y: scroll;
    max-height: 400px;

    .content {
      @include display(center, center);

      .conversation {
        padding-bottom: 20px;
        width: 100%;

        .message {
          .message_content {
            text-align: end;
            margin-bottom: 10px;

            .user_chat {
              @include display(flex-end, center);

              p {
                text-align: end;
                border: 2px solid $page_bg;
                padding: 8px 10px;
                border-radius: 6px 6px 0 6px;
                margin-bottom: 5px;
              }
            }

            span {
              color: $forgot;
              font-size: 14px;
            }
          }

          .message-meta {
            @include display(flex-start, flex-start);
            flex-direction: column;
            gap: 10px;

            .ai_contents {
              background-color: $page_bg;
              padding: 15px;
              font-size: 15px;
              border-radius: 0 8px 8px 8px;
            }

            .day_img {
              @include display(flex-end, center);
              width: 100%;

              p {
                color: $forgot;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .input-area {
    position: fixed;
    bottom: 20px;
    left: 50%;

    .add_circle {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    input {
      padding: 20px 70px 20px 70px;
      border-radius: 50px;
      outline: none;
      border: 2px solid $page_bg;
    }

    .send_icon {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

.pdf_file {
  position: relative;
  &:hover {
    p {
      display: block;
    }
  }
  p {
    display: none;
    font-size: 14px;
    background-color: $page_bg;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 20px;
    width: 180px;
    text-align: center;
    position: absolute;
    top: -15px;
    left: -50px;
    cursor: pointer;
  }
}

.document-optionlist{
  position: absolute;
  
  background-color: $page_bg;
  border-radius: 4px;
  padding: 1rem;
  bottom: 0;
  width: 180px;
  text-align: center;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}